{% extends 'movies/layout.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <form class="filter" action="" method="POST">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <p><button type="submit" name="action" value="filter">Відправити</button></p>
        <input type="hidden" name="which_form_is_it" value="this_is_form_1">
    </form>
    <form class="sort" action="" method="POST">
        {% csrf_token %}
        {{ sort_form.as_p }}
        <p><button type="submit" name="action" value="sort">Відправити</button></p>
        <input type="hidden" name="which_form_is_it" value="this_is_form_2">
    </form>
    <div>
        {% for el in result %}
        <div class="main-content" style="margin-top:50px">
            {% include 'movies/content.html' %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
