{% load static %}

<div class="slider">
    <div class="slider__line">
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/borderlands.webp' %}" alt="borderlands"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/imfriends.webp' %}" alt="imagine friends"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/20days.webp' %}" alt="20 days in Mariupol"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/abigail.webp' %}" alt="abigail"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/badboys.webp' %}" alt="badboys"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/beekeeper.webp' %}" alt="beekeeper"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/deadpool.webp' %}" alt="deadpool"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/furiosa.webp' %}" alt="furiosa"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/glad.webp' %}" alt="glad"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/greatwall.webp' %}" alt="greatwall"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/jurworld.webp' %}" alt="jurassic world"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/logan.webp' %}" alt="logan"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/monkey.webp' %}" alt="monkey"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/quiet.webp' %}" alt="quiet"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/stuntman.webp' %}" alt="stuntman"></a>
        <a href="#"><img class='slider__image' src="{% static 'movies/images/slider/watchers.webp' %}" alt="watchers"></a>
    </div>
    <button class="slider__btn-prev">&#10148</button>
    <button class="slider__btn-next">&#10148</button>
</div>
